/* This
is
a comment! */

/* CSS Syntax:

selector {
porperty: value;
property: value;
}
*/
/* type selector */

#wall {
    position: relative;
    margin: 40px auto;
    width: 980px;
    height: 622px;
    background: url(../images/wall.jpg) no-repeat center;

.tag-1 {
    background: url(../images/tag-1.png) no-repeat;
    z-index: 7;
    display: none;
  }
  #wall #tag-2 {
    background: url(../images/tag-2.png) no-repeat;
    z-index: 6;
    display: none;
}
div#wall #tag-3.slick {
    background: url(../images/tag-3.png) no-repeat;
    z-index: 5;
    display: none;
  }
  div.parent {
    display: none;
}
div.parent {
    display: none;
}
div#wall .parent #tag-5.slick {
    background: url(../images/tag-5.png) no-repeat;
    z-index: 3;
    display: none;
  }
